---
import "../styles/global.css";
const today = new Date();
---

<footer>
  <div class="footer">
    <span
      >&copy; {today.getFullYear()}
      <a href="https://0x3f.io/" target="_blank" rel="noopener">Eitrous</a>.
      Built with <a href="https://astro.build/" target="_blank" rel="noopener"
        >Astro</a
      >.</span
    >
    <span class="links"> 
		<a href="https://github.com/Eitrous" target="_blank" rel="noopener">GitHub</a>
		<a href="/rss.xml" target="_blank" rel="noopener">RSS</a>
	</span>
  </div>
</footer>
<style>
  .footer {
    width: min(1120px, calc(100% - 40px));
    margin: 0 auto;
    padding: 30px 0px;
    color: #444;
    font-size: 0.9rem;
    border-top: 1px solid var(--border);
    display: flex;
    justify-content: space-between;
  }
  a {
    color: inherit;
    text-decoration: none;
  }

  a:hover {
    color: #999;
  }

  .links {
	display: flex;
	gap: 20px;
  }
</style>
