// H2: 底部加一条灰线，模拟“书本章节”的感觉 
// .post-body h1 {
//     border-bottom: 2px solid #eaecef; /* 底部灰线 */
//     padding-bottom: 10px;             /* 文字和线的距离 */
//     margin-top: 50px;                 /* 离上一段远一点 */
//     font-size: 1.5em;                 /* 字体大一点 */
//     color: #2c3e50;                   /* 深色 */
// }

// H3: 左侧加一个竖条，模拟“重点标记” 
// .post-body h2 {
//     border-left: 5px solid #b3b3b3;  
//     padding-left: 10px;               /* 文字离蓝条的距离 */
//     margin-top: 30px;                 /* 稍微有点距离 */
//     font-size: 1.25em;
//     /* background: #f9f9f9;               可选：加个浅灰背景条 */
// }

/* ==================================
   全局网格背景 (Grid Background)
   ================================== */
body {
  /* 底色：极浅的灰白色 */
  background-color: #fcfcfc; 
  /* 绘制横纵两条线，颜色使用极低透明度的黑色 rgba(0,0,0,0.05) */
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
  /* 设定每个网格的大小为 30x30 像素 */
  background-size: 30px 30px; 
}

/* ==================================
   文章标题加粗配置 (Post Title Weight)
   ================================== */

/* 针对首页的标题超链接 */
.posts-expand .post-title-link {
    font-weight: 700; /* 700 等同于 bold，在学术风字体中更标准 */
    color: #000;
}

/* 针对点进文章详情页后的大标题 */
.posts-expand .post-title {
    font-weight: 700;
}

body {
  color: #1a1a1a; 
}

/* 4. 加粗文字更醒目 */
strong {
  color: #000000;
  font-weight: bold;
}

.with-love {
    color: #919191
}

.darkmode-layer, .darkmode-toggle {
  z-index: 500;
}

/* 默认状态（浅色模式）：显示月亮，隐藏太阳 */
.darkmode-toggle .fa-sun {
    display: none;
}
.darkmode-toggle .fa-moon {
    display: inline-block;
}

/* 激活状态（深色模式）：显示太阳，隐藏月亮 */
body.darkmode--activated .darkmode-toggle .fa-sun {
    display: inline-block;
}
body.darkmode--activated .darkmode-toggle .fa-moon {
    display: none;
}

/* 修正图标位置（可选，防止图标偏离中心） */
.darkmode-toggle i {
    font-size: 1.5rem; /* 调整图标大小 */
    line-height: 3rem; /* 保持垂直居中 */
    z-index: 499;
}

.darkmode--activated {

    img:not(.site-author-image),video,.emoji,.github-emoji,.darkmode-ignore,aside.sidebar {
        filter: invert(100%);
    }

    code {
        color: #555;
        background: #e1e1e1;
    }
}


